.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
.nav{
    height: calc(var(--header-height) + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.nav_logo{
    font-family: var(--logo-font);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_list{
    display: flex;
    column-gap: 2rem;
}
.nav_link{
    color: var(--title-color);
    font-size: .8rem;
    font-weight: var(--font-medium);
    transition: 0.2s ;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
}
.nav_link .fa-solid{
    margin-right:4px;
}
.active-link,
.nav_link:hover{
    border: 1px solid var(--title-color-dark);
    color: var(--title-color);
}
.nav_close,
.nav_toggle{
    display: none;
}
/* media query */
   /* for medium size devices */
   @media screen and (max-width:786px){
    .header{
        top: initial;
    }
    .nav{
        height: var(--header-height);
    }
    
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 2rem;
        box-shadow:  -1px 4px rgba(0,0,0,0.15);
        border-radius:0 0  10rem 0rem ;
        transition: 0.3s ease-in-out;
    }
    .show-menu{
        top: 7%;
    }
    .nav_item a{
        font-size: 0.9rem;
        font-weight: var(--font-medium);
    }
    .nav_item a .fa-solid{
        margin-bottom: 5px;
        margin-right: 10px;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
    }
    .nav_close{
        font-size: 1.2rem;
    }
    .nav_toggle{
        display: block;
        font-size: 1.2rem;
    }
    
   }

